<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myXmlBean" class="com.assanai.spring.core.bean.xml.MyBean">
        <!--<qualifier value="bean1"/>-->
        <property name="name" value="xmlBean"/>
    </bean>

    <bean id="myXmlBean2" class="com.assanai.spring.core.bean.xml.MyBean">
        <!--<qualifier value="bean2"/>-->
        <property name="name" value="xmlBean"/>
    </bean>

    <bean id="anotherBean" class="com.assanai.spring.core.bean.xml.AnotherBean">
        <property name="myBean" ref="myXmlBean"/>
    </bean>
</beans>