<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>web - %date [%thread] %-5level %logger{36} - %message%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.assanai" level="trace" />
	<logger name="org.hibernate" level="trace" />
	<logger name="org.springframework" level="trace" />
	<logger name="org.springframework.transaction" level="trace" />

	<!-- in order to debug some marshalling issues, this needs to be TRACE -->
	<logger name="org.springframework.web.servlet.mvc" level="trace" />

	<root level="trace">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>